section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
input, textarea{
    margin-bottom: 1rem;
}
footer p {
    text-align: center;
}
header{
    height: 60px;
}
#logo {
    height: 60px;
}
.card{
    width: 32%;
    float: left;
    margin: 3px;
}
.nav-item {
    margin: 5px;
}
